<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  
  
<bean id="Manager" class="com.org.Maven_Spring.Manager">  
<constructor-arg ref="OpClass"></constructor-arg>
<constructor-arg ref="DevClass"></constructor-arg>
<constructor-arg ref="ProdClass"></constructor-arg>
</bean>  

<bean id="DevClass" class="com.org.Maven_Spring.DevClass"></bean> 
<bean id="ProdClass" class="com.org.Maven_Spring.ProdClass"></bean>   
<bean id="OpClass" class="com.org.Maven_Spring.OpClass"></bean> 
  
</beans>


